body {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   13px;
  line-height: 18px;
  background: #A33;
  margin: 0; padding: 0;
}
div.banner {
  font-family: helvetica;
  background: #FFF;
  margin: 24px, 50px, 0px, 50px;
  height: 100px;
  overflow: auto;
}
.top_container {
  background: #A33;
  height: 450px;
  font-size: 18px;
}

.bot_container {
  background: #363;
  height: 400px;
}
