
<div class='top_container'>
  <div class='banner'> 
    <div class='banner_text'>   
      <h1>I Want this stuff</h1>
      the best, (only?) website for sharing your wishlists with your facebook friends
    </div>
  </div>
</div> 
<div class='hero_image'>
  <%= image_tag('/images/grinch_santa.gif', :alt => 'grinch') %>
</div>
<div class='bubble_wrapper rounded'>
  <div class='hero_bubble rounded'>
    <div class='hero_inner rounded'>
      <h1>The Grinch stole your wishlist</h1>
    </div>
  </div>
</div>


