<div class='top_container'>
  <div class='banner'> 
    <h1>I Want this stuff</h1>
    the best, (only?) website for sharing your wishlists with your facebook friends
  </div>  
</div> 
<div class='bot_container'>
  <h1>Description of hero image</h1>
  this is the homepage of iwantthisstuff.com
</div>



